SQLSERVER_IP= 
SQLSERVER_USER= 
SQLSERVER_PASS=
SQLSERVER_DBNAME= 
SQLTEST_IP= 
SQLTEST_USER= 
SQLTEST_DBNAME= 
SQLTEST_PASS=
SQLPRODUCTION_IP= 
SQLPRODUCTION_USER= 
SQLPRODUCTION_DBNAME= 
SQLPRODUCTION_PASS=
SQLDIALECT=
PORT= 
SEED=
NODE_ENV= 
USER_TOKEN=
USER_EMAIL=
PAYMENT_API_KEY=
PAYMENT_SERVICE=